.pagination
	button.__page(type="button")
	button.__page(type="button")
	button.__page.current(type="button")
	button.__page(type="button")
	button.__page(type="button")
	button.__page(type="button")
