section.fix-container
	.price-header
		.__col._1
			span.on-title
				| OUR BEST PACKAGE
			h2.title
				| Get Mainan. right now
		.__col._2
			p.descr
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				| Morbi a risus sit amet justo venenatis rhoncus vel sed dolor.
				| Curabitur malesuada tellus at nibh aliquet lacinia nenatis
				| rhoncus vel sed dolor.

	.price-body
		.__col._1
			.price-table._standart

				h2.__title
					| Standard Package
				p.__decsr
					span.__sale
						| $35
					span.__price
						| $15
					span.__duration
						| Forever

				span.__dash-line

				ul.price-profite-list
					li.__it Child Age 2-7 Years
					li.__it 20+ educational materials
					li.__it Parenting Info & Tips
					li.__it A place for sharing with members

				button.btn._fill
					| Buy Standard Package

		.__col._2
			.price-table._exclusive
				h2.__title
					| Exclusive Package
				p.__decsr
					span.__sale
						| $75
					span.__price
						| $45
					span.__duration
						| Forever

				span.__dash-line

				ul.price-profite-list._multi-cols
					li.__it special group for exclusive members
					li.__it 50+ educational materials
					li.__it Access All Materials
					li.__it Parenting Info & Tips
					li.__it Child Age 2-7 Years
					li.__it Parenting Info & Tips
					li.__it Playing Ideas
					li.__it place for sharing

				button.btn._fill
					| Buy Standard Package

	.short-info-about-prices
		| *** Join forever with no monthly / renewal fees.
		| Nothing sent, all material is downloaded in the group. ***


