append vars
	-
		const data = {

			header: {
				logo: {
					link: '#',
					title: 'logo title',
					img: {
						alt: "logo img alt",
						title: "logo img title"
					}
				},
				menu: [{
					url: '#',
					name: 'Why'
					},
					{
						url: '#',
						name: 'About us'
					},
					{
						url: '#',
						name: 'Benefit'
					},
					{
						url: '#',
						name: 'Pricing'
					},
					{
						url: '#',
						name: 'Testimonial'
					},
					{
						url: '#',
						name: 'FAQ'
					},
				]
			},

			mainSection: {
				onTitle: "#1 BEST EDUCATION FOR KIDS",
				title: "Teach children to learn while playing",
				descr: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a risus sit amet justo venenatis.",
				btnLabel: "Explore",
				img: {
					src: "./images/section-edu-img-1x.jpg",
					alt: "mainSection img alt",
					title: "mainSection img title",
				}
			},

			profile: {
				segmentTitle: "Fitri Nuraeni",
				segmentDescr: "Lorem ipsum dolor sit amet consectetur adipiscing elit rhoncus vel sed dolor.",
				count: [{
					value: "8914+",
					label: "Customers",
				}, {
					value: "150+",
					label: "Toys Education",
				}, {
					value: "35K+",
					label: "Happy Mommy",
				}]
			},

			privilege: {
				title: "Why Mainan. Important for Children's Brain",
				descr: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a risus sit amet justo venenatis rhoncus vel sed dolor. Curabitur malesuada tellus at nibh aliquet lacinias vel sed dolor.",
				blocks: [{
					segmentTitle2: "Play while Learning",
					segmentDescr2: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a risus sit amet justo venenatis rhoncus vel sed dolor.",
					svg: {
						anchor: "project-icon-play-while-learning",
						viewBox: "0 0 40 38",
						width: "40",
						height: "38",
					},
				}, {
					segmentTitle2: "Created by expert",
					segmentDescr2: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a risus sit amet justo venenatis rhoncus vel sed dolor.",
					svg: {
						anchor: "project-icon-created-by-expert",
						viewBox: "0 0 40 38",
						width: "36",
						height: "35",
					},
				}, {
					segmentTitle2: "Designed for Growing brain",
					segmentDescr2: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a risus sit amet justo venenatis rhoncus vel sed dolor.",
					svg: {
						anchor: "project-icon-designed-for-growing-brain",
						viewBox: "0 0 36 34",
						width: "36",
						height: "34",
					},
				}, {
					segmentTitle2: "Building Children's Creativity",
					segmentDescr2: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a risus sit amet justo venenatis rhoncus vel sed dolor.",
					svg: {
						anchor: "project-icon-building-childrens-creativity",
						viewBox: "0 0 36 34",
						width: "36",
						height: "34",
					},
				}]
			},

			about: {
				img: {
					src: "./images/section-about-img-1x.jpg",
					alt: "",
					title: ""
				},
				onTitle: "ABOUT MAINAN.",
				title: "Educational materialsfor development ofsmart children",
				descr: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a risus sit amet justo venenatis rhoncus vel sed dolor. Curabitur malesuada tellus at nibh aliquet lacinia nenatis rhoncus vel sed dolor.",
			},


			print: {
				img: {
					alt: "",
					title: ""
				},
				onTitle: "OUR BEST PRINTABLE",
				title: "Mainan Printable types",
				list: [{
					title: "Drawing Printable",
					descr: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a risus sit amet justo ven.",
					img: {
						src: "./images/print-img-drawing-printable-1x.jpg",
						alt: "",
						title: ""
					},
				}, {
					title: "Crafting Printable",
					descr: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a risus sit amet justo ven.",
					img: {
						src: "./images/print-img-crafting-printable-1x.jpg",
						alt: "",
						title: ""
					},
				}, {
					title: "Storytelling Printable",
					descr: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a risus sit amet justo ven.",
					img: {
						src: "./images/print-img-reading-printable-1x.jpg",
						alt: "",
						title: ""
					},
				}, {
					title: "Reading Printable",
					descr: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a risus sit amet justo ven.",
					img: {
						src: "./images/print-img-storytelling-printable-1x.jpg",
						alt: "",
						title: ""
					},
				}]
			},

			benefit: {
				onTitle: "BENEFIT",
				title: "Benefits you get for your children",
				img: {
					src: "./images/section-benefit-img-1x.jpg",
					alt: "",
					title: ""
				},
				list: [{
					itemText: "Improve children's creativity and development"
					},
					{
						itemText: "Building Cognitive Ability and Problem Solving"
					},
					{
						itemText: "Practice Social Skills"
					},
					{
						itemText: "Cultivating Emotional Intelligence"
					},
					{
						itemText: "Introduce the concept of cause and effect"
					},
				]
			},

			gallery: {
				onTitle: "GALLERY",
				title: "See fun of children with Mainan",
				descr: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a risus sit amet justo venenatis rhoncus vel sed nibh aliquet lacinias vel sed dolor.",
				list: [{
					src: "./images/slide-item-1-1-1x.jpg",
					alt: "",
					title: ""
					},
					{
						src: "./images/slide-item-1-2-1x.jpg",
						alt: "",
						title: ""
					},
					{
						src: "./images/slide-item-1-4-1x.jpg",
						alt: "",
						title: ""
					},
					{
						src: "./images/slide-item-1-3-1x.jpg",
						alt: "",
						title: ""
					},
				]
			},

			testimonials: {
				onTitle: "TESTIMONIALS",
				title: "What’s Mommy Say About us?",
				list: [{
					img: {
						src: "./images/slide-2-img-2.jpg",
						alt: "",
						title: "",
					},
					segmentTitle: "Children are happy to learn",
					segmentDescr: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a risus sit amet justo venenatis rhoncus vel sed dolor. Curabitur malesuada tellus at nibh aliquet lacinia nenatis rhoncus vel sed dolor.",
					person: {
						img: {
							src: "./images/small-profile-1-1x.jpg",
							alt: "",
							title: "",
						},
						name: "Fitri Nuraeni",
						position: "The Best Mommy",
					}
				}]
			},

			faq: {
				onTitle: "FAQ",
				title: "Frequently Asked Questions",
				list: [{
					question: "What is a Mainan ?",
					answer: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a risus sit amet justo venenatis rhoncus vel sed dolor. Curabitur malesuada tellus at nibh aliquet lacinia nenatis rhoncus vel sed dolor.",
				}, {
					question: "Where do I contact if I have questions?",
					answer: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a risus sit amet justo venenatis rhoncus vel sed dolor. Curabitur malesuada tellus at nibh aliquet lacinia nenatis rhoncus vel sed dolor.",
				}, {
					question: "Is the Mainan. a physical product or a digital product?",
					answer: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a risus sit amet justo venenatis rhoncus vel sed dolor. Curabitur malesuada tellus at nibh aliquet lacinia nenatis rhoncus vel sed dolor.",
				}]
			},

			footer: {
				bottomTxt: "Copyright © 2021 Mainan. All Rights Reserved",
				descr: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a risus sit amet justo venenatis rhoncus vel sed dolor. Curabitur malesuada tellus at nibh",
			}
		}

	//- script.
	//- 	window.data = {
	//- 		home: !{JSON.stringify(data)}
	//- 	};
