// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS
$color-black: #000;
$color-white: #fff;
$color-gray: #eee;

// FONTS
// stylelint-disable-next-line
$font-primary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen,
 ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;

// EASING TRANSITIONS
$duration-normal: 0.4s;
$easing-back-out: cubic-bezier(
 0.25,
 0.74,
 0.22,
 1.1
); // http://cubic-bezier.com/#.25,.74,.22,1.1
$easing-back-in: cubic-bezier(
 0.47,
 -0.1,
 0.5,
 -0.06
); // http://cubic-bezier.com/#.47,-0.1,.5,-.06
$easing-out: ease-out;
$easing-in: ease-in;

// Settings
$desktop: 1025;
$desktop-xl: 1800;
$laptop: 1440;
$tablet: 768;
$mobile: 320;
$desktop-vh: 750;

$grid-breakpoints: (
 xs: 0,
 sm: 520px,
 md: 790px,
 lg: 1064px,
 xl: 1176px,
) !default;

$container-max-widths: (
 sm: 480px,
 md: 768px,
 lg: 1024px,
 xl: 1146px,
) !default;

$grid-gutter-width: 30px;

// bp - brackpoint
$xl-bp: map-get($grid-breakpoints, "xl") - 1;
$lg-bp: map-get($grid-breakpoints, "lg") - 1;
$md-bp: map-get($grid-breakpoints, "md") - 1;
$xs-bp: map-get($grid-breakpoints, "xs") - 1;
$sm-bp: map-get($grid-breakpoints, "sm") - 1;

// cw - content width
$xl-cw: map-get($container-max-widths, "xl");
$lg-cw: map-get($container-max-widths, "lg");
$md-cw: map-get($container-max-widths, "md");
$xs-cw: map-get($container-max-widths, "xs");
$sm-cw: map-get($container-max-widths, "sm");

@mixin xl {
 @media screen and (max-width: $xl-bp) {
  @content;
 }
}

@mixin lg {
 @media screen and (max-width: $lg-bp) {
  @content;
 }
}

@mixin md {
 @media screen and (max-width: $md-bp) {
  @content;
 }
}

@mixin sm {
 @media screen and (max-width: $sm-bp) {
  @content;
 }
}

@mixin xs {
 @media screen and (max-width: $xs-bp) {
  @content;
 }
}
@function torgb($hex) {
 @return red($hex), green($hex), blue($hex);
}

@function map-deep-get($map, $keys...) {
 $value: $map;
 @each $key in $keys {
  $value: map-get($value, $key);
 }
 @return $value;
}

// $vars
$vars: (
 "brand-color": (
  "1-1": #f5f7fe,
  "1-2": #e2e6fc,
  "1-3": #191941,
  "1-4": #5360de,
  "1-5": #a9b5f5,
  "1-6": #c9d2fb,
  "1-7": #565fb5,
  "1-8": #978ede,
  //
  "2-1": #fff,
  "2-2": #fafbff,
  //
  "3-1": #ff00dd,
  //
  "4-1": #000,
  //
  // "5-1": #deaba4,
  "5-1": #564e91,
 ),
 "border-radius": (
  "1": 60px,
  "2": 10px,
  "3": 30px,
 ),
 "font-family": (
  "mont": "Montserrat, sans-serif",
  "play": "Playfair Display, sans-serif",
 ),
);

// $component-vars
$component-vars: (
 "global": (
  "scroll-thumb-bg-color": map-deep-get($vars, "brand-color", "1-4"),
  "select-text-color": map-deep-get($vars, "brand-color", "2-1"),
  "select-text-bg-color": map-deep-get($vars, "brand-color", "1-4"),
  "min-w": 270px,
  "max-w": 1920px,
  "rem-baseline": 17px,
 ),
 "body": (
  "bg-color": map-deep-get($vars, "brand-color", "1-1"),
  "scroll-thumb-background-color": map-deep-get($vars, "brand-color", "1-5"),
 ),
 "header": (
  "border-radius": map-deep-get($vars, "border-radius", "3"),
  "height": 60px,
  "links-z-index": 10,
 ),
);
